###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################
wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

###########
# General #
###########
scanComment=Jenkins Build Job
log.files.level=trace
log.files.maxFileSize=200

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=true
#maven.resolveDependencies=true
#maven.runPreStep=true
#npm.resolveDependencies=true
#npm.runPreStep=true

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.java **/*.m **/*.mm **/*.js **/*.php **/*.jar **/*.gem **/*.rb **/*.dll **/*.cs **/*.nupkg **/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
excludes=**/*sources.jar **/*javadoc.jar **/node_modules/** **/security-scan-configs/**
case.sensitive.glob=false
followSymbolicLinks=false

######################
# Archive properties #
######################
archiveExtractionDepth=3
archiveIncludes=**/*.war **/*.ear **/*.zip **/*.tar **/*.tgz **/*.tar.gz **/*.jar
#archiveExcludes=**/*sources.jar