<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>$title</title>
    <style>
    div[style*="margin: 16px 0"]{
        margin:0 !important;
        }
         * {

               -ms-text-size-adjust: 100%;

           }
        body {
            font-family: arial,sans-serif;
            font-size: 14px;
            color: #333;
            background: #efefef;
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }
        table {
            border-spacing: 0;
        }
        p {
            margin: 10px 0;
            font-size: 14px;
        }
        .footer {
            background: #dddddd;
            margin-top: 30px;
            border-top: 1px solid #d3d5d6;
            text-align: left;
            padding: 20px;
            width: 100%;
            line-height: 20px;
            font-size: 13px;
            clear: both;
            overflow: auto;
        }

        .table-border-channels,
        .table-border {
            border-spacing: 0;
            font-size: 14px;
            color: #333;
        }

        .table-border-channels {
            border-spacing: 0;
            font-size: 14px;
            color: #333;
            border-collapse : collapse;
        }


        .table-border th {
            padding: 15px 10px;
            display: table-cell;
            vertical-align: middle;
            line-height: normal;
            font-weight: normal;
            width: 247px;
            text-align: center;
            text-transform: uppercase;
            outline: none;
            background: #f8f9fb;
            border-bottom: 1px solid #e8e8e8;
            margin : 0
        }

        .table-border-channels th {
            padding: 15px 10px;
            display: table-cell;
            vertical-align: middle;
            line-height: normal;
            font-weight: normal;
            text-align: left;
            font-size: 12px;
            outline: none;
            background: #f8f9fb;
            border: 1px solid #e8e8e8;
        }

        .table-border.cell-spacing td{
            padding: 20px !important;
            border: none;
        }

         .subheading {
            font-size: 14px;
            font-weight: bold;
        }

        .table-border td {
            padding: 15px 10px;
            display: table-cell;
            vertical-align: middle;
            color: #858484;
            text-align: left;
            border-bottom: 1px solid #e8e8e8;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
        }

        .table-border-channels td {
            padding: 15px 10px;
            display: table-cell;
            vertical-align: middle;
            color: #858484;
            text-align: left;
            font-size: 12px;
            border: 1px solid #e8e8e8 !important;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
        }

        a {
            color: #00a3d7;
            text-decoration: none;
        }

        h4 {
            margin:15px 0;
            font-size: 14px;
        }

        h2 {
            font-size: 18px;
            border-top: 1px dashed #e8e8e8;
            border-bottom: 1px dashed #e8e8e8 !important;
            padding: 10px;
        }

        .container {
            width: 950px;
            -moz-box-shadow: 0 0 5px #888;
            -webkit-box-shadow: 0 0 5px #888;
            box-shadow: 0 0 5px #888;
            margin:0 auto !important;background:#ffffff;
            text-align: center !important;
        }

        .table-width {
            width: 950px;
            margin: 0 auto;
        }

        .footer-icon-color {
            color: #999fa5;
        }

        .fa-inverse {
            color: #37434f;
        }

        .copyright-info {
            margin-top: 5px;
        }

        .copyright-info p {
            font-size: 12px;
        }

        td.table-value {
            color: #333;
        }
        td.testresults {
	      text-align:center;
	      border-bottom: 1px solid #e8e8e8;
	      text-transform: uppercase;
	      background-color:#f8f9fb;
	      font-weight:bold;
	      padding:15px 10px
	  }
	  td.testresults-left-aligned {
	      text-align:left;
	      border-bottom: 1px solid #e8e8e8;
	      text-transform: uppercase;
	      background-color:#f8f9fb;
	      font-weight:bold;
	      padding:15px 10px
	  }
	  th.testresults {
	      border-bottom: 1px solid #e8e8e8;
	      padding:15px 10px;
	      background-color:#ffffff;
	      font-weight:normal;		  
	  }
	  th.testresults-left-aligned {
	      border-bottom: 1px solid #e8e8e8;
	      padding:15px 10px;
            background-color:#ffffff;
	      font-weight:normal;
	      text-align:left;	 
            text-transform: none;		  
	  }
	  th.testresults-left-aligned-font-bold {
	      border-bottom: 1px solid #e8e8e8;
	      background-color:#ffffff;
	      padding:15px 10px;
	      font-weight:normal;
	      text-align:left;
	      font-weight:bold;
            text-transform: none;		  
	  }
	  .fail {
          color: #d60024;
        }
	  .skip {
          color: #8c4d2e;
        }
	  .warn {
          color: #fc9414;
        }
	  .stop {
          color: #6a3b3b;
        }
	  .error {
          color: #fa0004;
        }
    </style>
</head>
<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly;"> <center style="width: 100%;  background-color: #fff;">
    <table class="container" cellpadding="0">
        <tr>
            <td>
                <table role="presentation" cellspacing="0" cellpadding="5" style="width:100%;">
                    <tr style="background:#35414d">
                         <td valign:"middle" style="width:200px">
                         <img style="width:80%;height:40px" height="40" alt="Volt MX" src="https://download.hclvoltmx.com/appfactory/public/HCL_Volt_MX.png">
                         </td>
                         <td style="color:#fff;margin-left:0px;border-left: 0.5pt solid #fff;" align="center" valign="middle">$productName</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        </tr>
        <tr>
            <td text-align="center" style="padding:0 20px;">
                $contentTable
            </td>
        </tr>
        <tr>
             <td>&nbsp;
             </td>
        </tr>
    </table>
</body>
</html>
