<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>$title</title>
    <style>
        body {
            font-family: arial,sans-serif;
            font-size: 14px;
            color: #333;
            background: #efefef;
        }
        table {
            border-spacing: 0;
        }
        p {
            margin: 10px 0;
            font-size: 14px;
        }
        .footer {
            background: #dddddd;
            margin-top: 30px;
            border-top: 1px solid #d3d5d6;
            text-align: left;
            padding: 20px;
            width: 100%;
            line-height: 20px;
            font-size: 13px;
            clear: both;
            overflow: auto;
        }

        .table-border-channels,
        .table-border {
            border-spacing: 0;
            font-size: 14px;
            color: #333;
        }

        .table-border-channels {
            border-spacing: 0;
            font-size: 14px;
            color: #333;
            border-collapse : collapse;
        }


        .table-border th {
            padding: 15px 10px;
            display: table-cell;
            vertical-align: middle;
            line-height: normal;
            font-weight: normal;
            width: 247px;
            text-align: center;
            text-transform: uppercase;
            outline: none;
            background: #f8f9fb;
            border-bottom: 1px solid #e8e8e8;
        }

        .table-border-channels th {
            padding: 15px 10px;
            display: table-cell;
            vertical-align: middle;
            line-height: normal;
            font-weight: normal;
            width: 247px;
            text-align: left;
            font-size: 12px;
            outline: none;
            background: #f8f9fb;
            border: 1px solid #e8e8e8;
        }

        .table-border.cell-spacing td{
            padding: 10px;
            border: none;
        }

        .subheading {
            font-size: 14px;
            font-weight: normal;
        }

        .table-border td {
            padding: 15px 10px;
            display: table-cell;
            vertical-align: middle;
            color: #858484;
            text-align: left;
            border-bottom: 1px solid #e8e8e8;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
        }

        .table-border-channels td {
            padding: 15px 10px;
            display: table-cell;
            vertical-align: middle;
            color: #858484;
            text-align: left;
            font-size: 12px;
            border: 1px solid #e8e8e8;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
        }

        a {
            color: #00a3d7;
            text-decoration: none;
        }

        h4 {
            margin:15px 0;
            font-size: 16px;
        }

        h2 {
            font-size: 18px;
            border-top: 1px dashed #e8e8e8;
            border-bottom: 1px dashed #e8e8e8;
            padding: 10px;
        }

        .container {
            width: 650px;
            -moz-box-shadow: 0 0 5px #888;
            -webkit-box-shadow: 0 0 5px #888;
            box-shadow: 0 0 5px #888;
            margin:0 auto;background:#ffffff;
        }

        .table-width {
            width: 650px;
            margin: 0 auto;
        }

        .footer-icon-color {
            color: #999fa5;
        }

        .fa-inverse {
            color: #37434f;
        }

        .copyright-info {
            margin-top: 5px;
        }

        .copyright-info p {
            font-size: 12px;
        }

        td.table-value {
            color: #333;
        }
        td.testresults {
	      text-align:center;
	      border-bottom: 1px solid #e8e8e8;
	      text-transform: uppercase;
	      background-color:#f8f9fb;
	      font-weight:bold;
	      padding:15px 10px
	  }
	  td.testresults-left-aligned {
	      text-align:left;
	      border-bottom: 1px solid #e8e8e8;
	      text-transform: uppercase;
	      background-color:#f8f9fb;
	      font-weight:bold;
	      padding:15px 10px
	  }
	  th.testresults {
	      border-bottom: 1px solid #e8e8e8;
	      padding:15px 10px;
	      background-color:#ffffff;
	      font-weight:normal;		  
	  }
	  th.testresults-left-aligned {
	      border-bottom: 1px solid #e8e8e8;
	      padding:15px 10px;
            background-color:#ffffff;
	      font-weight:normal;
	      text-align:left;	 
            text-transform: none;		  
	  }
	  th.testresults-left-aligned-font-bold {
	      border-bottom: 1px solid #e8e8e8;
	      background-color:#ffffff;
	      padding:15px 10px;
	      font-weight:normal;
	      text-align:left;
	      font-weight:bold;
            text-transform: none;		  
	  }
    </style>
</head>
<body>
    <table class="container" cellpadding='0'>
        <tr>
            <td align="center" style="padding:10px">
                <table style="width:100%; margin-bottom:20px;height:55px;">
                    <tr style="background:#35414d">
                        <td style="width:110px;color:#fff">
                            <div style="line-height:25px;margin-left:20px;font-size:25px;"> Kony </div>
                        <td style="color:#fff">
                            <div style="line-height:25px;margin-left:0px;border-left: 1px solid;text-indent:20px"> App Factory</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding:0 20px;">
                $contentTable
            </td>
        <tr>
            <td>&nbsp;

            </td>
        </tr>
    </table>
</body>
</html>
